# Настройки ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=secret
CLICKHOUSE_DATABASE=zhr1c

# Настройки Redis
REDIS_ENABLED=True
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
# Путь к исполняемому файлу redis-server, если хотите, чтобы приложение само управляло процессом
REDIS_SERVER_PATH=/usr/bin/redis-server

# Настройки Solr (Опционально)
SOLR_ENABLED=False
